#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
#nav {
padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
        color: #42b983;
        }
    }
}

body{
    background-color: #c0c0c07a;
}

@mixin table-style() {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

@mixin input-form() {
    padding: 8px;
    margin: 14px 14px 10px 14px;
    border-radius: 5px;
    background: space;
    &:valid{
        background: #ffffff;
    }
}

@mixin button() {
    padding: 10px 45px;
    color: #f1f1f1;
    background: teal;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.home{
    button{
        float: right;
        margin: 15px;
        @include button()
    }
}


.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: flex;
    justify-content: center;

    table{
        @include table-style();
        width: 100%;
        margin: 15px;
        background-color: whitesmoke;
    }

    td{
        @include table-style();
    }

    th{
        background-color: darkcyan;
        color: white;
        @include table-style();
    }
}

.Reg-form {
    color: #f1f1f1;
    background: teal;
    margin: 15px;
    padding: 10px;
}

.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

form{
    border: 3px
    solid grey;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
    padding: 35px;
    .form-input {
        input{
            @include input-form();
            width: 39%;
        }
    }
    
    .form-input-2{
        input{
            @include input-form();
            width: 84%;
            }
    }
    .submit{
        float: right !important;
        margin-right: 7% !important;
        @include button()
    }
    .cancel{
        float: left !important;
        margin-left: 7% !important;
        @include button()
    }
    ul{
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        color: #ea0f23;
        font-style: oblique;
        font-size: smaller;
    }
}

.icon-action{
    margin: 0px 5px;
    cursor: pointer;
}


